.idea/
.antigravitycli/
.vscode/
*.swp
*~
.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info
*.egg

odoo.conf
/odoo.conf
*.conf

odoo/filestore/
**/filestore/

_build/
node_modules/
package-lock.json
/bin/
/include/
/lib/
/src/

odoo/